/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-carousel .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* 
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 0;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-twitter .owl-controls {
  position: absolute;
  bottom: 0;
  width: 80px;
  left: 50%;
  margin-left: -40px;
  text-align: center;
}
.owl-carousel .owl-controls .owl-dots {
  text-align: center;
  margin-top: 25px;
}
.recent-posts .owl-controls .owl-dots {
  padding-top: 26px;
}
.owl-carousel .owl-controls .owl-dot {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #e0e0e0;
  margin: 0 7px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.owl-carousel .owl-controls .owl-dot.active {
  border-color: transparent;
  background-color: #1c1d1f;
}
.post-slider .owl-controls .owl-dots {
  counter-reset: slider;
  position: absolute;
  left: 50%;
  bottom: 80px;
  z-index: 99;
  transform:translateX(-585px);
}
.post-slider.three_per_row .owl-controls .owl-dots {
  position: static;
  left: auto;
  bottom: auto;
  transform: none;
}

.post-slider-center .owl-controls .owl-dots {
    transform: translateX(-485px);
}
.post-slider .owl-controls .owl-dots .owl-dot span::before {
  counter-increment: slider;
  content: "0" counter(slider);
}
.post-slider .owl-controls .owl-dot {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border:2px solid rgba(255, 255, 255, 0.25);
  color: #fff;
  line-height: 31px;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0;
  font-size: 12px;
  margin-right: 115px;
  margin-left: 115px;
  position: relative;
  transition:all 0.7s ease-out;
  background-image: radial-gradient(circle closest-side, #fff, #fff, transparent);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  transition: background-size .65s, color .5s;
}
.post-slider .owl-controls .owl-dot.active {
  background-size: 200% 200%;
  color: #141516;
}
.post-slider .owl-controls .owl-dot:after,
.post-slider .owl-controls .owl-dot:before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 48px;
  transition:all 0.7s ease-out;
}
.post-slider .owl-controls .owl-dot:last-child {
  margin-right: 0 !important;
}
.post-slider .owl-controls .owl-dot:first-child {
  margin-left: 0 !important;
}
.post-slider .owl-controls .owl-dot:last-child:after,
.post-slider .owl-controls .owl-dot:last-child:before {
  display: none;
}
.post-slider .owl-controls .owl-dot.active {
  background-color: transparent;
  border-color:rgba(255,255,255,1);
}
.post-slider .owl-controls .owl-dot:before {
  width: 0;
  background-color: rgba(255,255,255,1)
}
.post-slider .owl-controls .owl-dot.active:before {
  animation-name:owl_line_animation;
  animation-duration:6s;
  animation-timing-function:linear;
  animation-fill-mode:both;
  animation-delay:0.2s;
}
@keyframes owl_line_animation {
  to { 
    width: 200px;
  }
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100% !important;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
.owl-gallery .owl-nav div {
  width: 55px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -10px;
  text-align: center;
  color: #201f22;
  font-size: 55px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
    background-repeat:no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.owl-gallery.slideshow_2 .owl-nav div {
  border-radius: 100%;
}
.owl-gallery.slideshow_2 .owl-nav div:hover {
  background-color: rgba(0, 0, 0 , 0.8);
  color: #fff;
}
.owl-gallery .owl-nav div.owl-prev {
  left: 20px;
  background-image: url(../images/slideshow-arrow-left.png);
}
.owl-gallery .owl-nav div.owl-next {
  background-image: url(../images/slideshow-arrow-right.png);
}
.post-content {
  position: relative;
}
.post-content .num-slides span {
  color: #000000;
  display: inline;
  display: inline-block;
  min-width: 10px;
}
.owl-widget-sliderposts .owl-nav {
  width: 100%;
  position: relative;
}
.owl-widget-sliderposts .owl-nav div {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 1px solid #e8e8ea;
  text-align: center;
  line-height: 24px;
  position: absolute;
  background-color: none;
  color: #1c1d1f;
  position: absolute;
  top: 0;
  left: 50%;
}
.owl-widget-sliderposts .owl-nav div i {
  font-size: 12px;
}
.owl-widget-sliderposts .owl-nav .owl-prev {
  margin-left: -30px;
}
.owl-widget-sliderposts .owl-nav .owl-next {
  margin-left: 4px; 
}
.owl-post-slider .owl-nav {
  width: 100%;
}
.owl-post-slider .owl-nav div {
  width: 62px;
  height: 62px;
  border-radius: 100%;
  text-align: center;
  position: absolute;
  background-color: transparent;
  color: #ba5c23;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  transition:all 0.4s ease;
}
.owl-post-slider .owl-nav div:hover {
  color: #fff;
  background-color: #141516;
}
.owl-post-slider .owl-nav .owl-prev {
  left: -99px;
}
.owl-post-slider .owl-nav .owl-next {
  right: -99px;;
}
.owl-post-slider .owl-nav div i {
  font-size: 21px;
  line-height: 62px;
  color: inherit;
  position: relative;
  display: inline-block;
}

.owl-post-slider .owl-nav div i:before {
  line-height: inherit;
}
.owl-thumbs {
  width: auto;
  overflow-y:auto; 
  padding: 10px 0;
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
}
.owl-thumbs .owl-thumb-item {
  width: 20%;
  max-width: 235px;
  min-width: 235px;
  padding: 0 10px 0 0;
  cursor: pointer;
}
.owl-thumbs .owl-thumb-item:last-child {
  padding-right: 0;
  min-width: 225px;
  max-width: 225px;
}
.owl-thumbs::-webkit-scrollbar {
  width: 14px;
}
.owl-thumbs::-webkit-scrollbar-track {
  background: #f5f5f5;
}
.owl-thumbs::-webkit-scrollbar-thumb {
  background: #cccfd2; 
  border-radius: 5px;
}
.owl-recentposts .owl-nav div {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 122px;
  right: -31px;
  line-height: 30px;
  text-align: center;
  color: #1f2122;
  font-size: 24px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.owl-recentposts .owl-nav div.owl-prev {
  left: -31px;
  right: auto;
}