
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #444444;
  overflow-x: hidden;
}
 

a:hover {
 
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.carousel-inner img {
    width: 100%;
    height: 100vh;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

#hero h2 {
  color: #fff;
  margin: 10px 0 0 0;
  font-size: 24px;
}


@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }
  #hero h1 {
    font-size: 28px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

.carousel-indicators{
  display: none;
}

.carousel-control-next, .carousel-control-prev{
  top: 77px;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.carousel-caption p{
    font-size: 3.55rem;
    line-height: 1.2;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    margin-bottom: 1.25rem;
}
.carousel-caption h3{
    color: #f15a28;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: sans-serif;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 99;
}
.carousel-control-next, .carousel-control-prev {
    opacity:1;
    z-index: 9;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  position: relative;
}

.carousel-control-next-icon:before{
    content: '\f054';
    font-family: FontAwesome;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 27px;
    font-size: 20px;
    background: #ff4a17;
    color: #fff;
    padding: 15px 15px;
}

.carousel-control-prev-icon:before{
    content: '\f053';
    font-family: FontAwesome;
    position: absolute;
      top: 0px;
      right: 0px;
    line-height: 27px;
    font-size: 20px;
    background: #ff4a17;
    color: #fff;
    padding: 15px 15px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-image: none !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    display: none;
}

.carousel-caption a {
    color: #fff;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
/*  padding: 100px 0;
*/  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.separator {
    position: relative;
    margin: 10px auto 0px;
    width: 120px;
}

.separator ul {
    padding: 0px;
    margin: 0px;
}

.separator ul::before {
    content: '';
    width: 40px;
    height: 2px;
    background: #c9c9c9;
    left: 0;
    top: 55%;
    position: absolute;
}

.separator ul li {
    display: inline-block;
    width: 4px;
    height: 7px;
    margin: 0px 2px;
    padding: 0px;
    background: #ff4a17;
}

.separator ul::after {
    content: '';
    width: 40px;
    height: 2px;
    background: #c9c9c9;
    right: 0;
    top: 55%;
    position: absolute;
}

.section-title p {
  margin: 25px;
  color: #838383;
  font-weight: 500;
}

.section-bg {
  color: #fff;
}

.section-bg:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: 0;
  left: 0;
  right: 0;
}

.cl-white{
  color: #fff;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 0px 30px 30px 0;
}
.about .content img {
  border: 2px solid #fff;
  max-height: 530px;
}

.about .content h6:before{
  position: absolute;
  content: '';
  width: 3px;
  height: 25px;
  left: -25px;
  top: 0;
  background-color: #ff4a17;
}

.about .content h3 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  padding: 8px 30px 9px 30px;
  color: #ff4a17;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #ff4a17;
}

.about .content .about-btn i {
  position: relative;
  top: -2px;
  font-size: 20px;
  padding-left: 5px;
}

.about .content .about-btn:hover {
  background: #ff4a17;
  color: #fff;
}

.about .icon-boxes .icon-box {
  text-align: left;
}

.about .icon-boxes .icon-box i {
  font-size: 45px;
  color: #ff4a17;
  margin-bottom: 10px;
  margin-top: 25px;
}

.icon-box::after {
    position: absolute;
    background-color: #fff;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  background: #fff;
  transition: all 0.3s;
  text-align: left;
}

.services .icon-box i {
  float: left;
  color: #ff4a17;
  font-size: 40px;
}

.services .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .icon-box h4 a {
  color: #000;
  transition: 0.3s;
}

.services .icon-box h4 a:hover {
  color: #ff4a17
}

.services .icon-box .icon-box:hover h4 a {
  color: #ff4a17;
}

.services .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 15px;
  color: #838383;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio{
  padding-top:50px; 
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #ff4a17;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition:all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(17, 17, 17, 0.6);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: hsl(231deg 100% 50% / 40%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 35px;
  transition: 0.3s;
  background-color: rgb(0 0 0 / 0.7);
  padding: 10px 15px;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}


.cta-4 {
    background-color: #ff4a17;
    padding: 90px 0;
}

.c-white {
    color: #fff;
}

.text-capitalize {
    text-transform: capitalize!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.btn-two {
    background-color: #fff;
    color: #1f1f1f;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 0;
}

.btn {
    border-radius: 0;
    font-size: 16px;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn:hover{
  background-color: #ff4a17;
  border: 2px solid #fff;
  color: #fff;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonial-item {
  position: relative;
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0 0 25px rgba(24,24,24,.2);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item i{
  color: rgb(255 74 23 / 0.3);
  font-size: 35px;
  display: inline-block;
  left: 75%;
  top: 50px;
  position: absolute;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item p {
  margin: 30px auto 15px auto;
  font-size: 15px;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 10px;
    border-radius: 0;
    outline: none;
}

.testimonials .owl-dot.active {
  background-color: #ff4a17 !important;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  background: #fff;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .member-info {
  padding: 25px 15px;
  text-align: center;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #111111;
}

.team .member .member-info span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #838383;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

/*--------------------------------------------------------------
# News & Blog
--------------------------------------------------------------*/
.blog {
    position: relative;
    z-index: 0; 
}

.blog-item {
    margin-bottom: 30px;
    background-color: #fff;
    position: relative;
}

.blog-item iframe {
    width: 100%;
    height: 250px;
    border: 0;
}

.post-meta {
    padding: 7px 0;
    position: relative;
    text-align: center;
    background-color: #d7d7d7;
}

.blog-1 .post-meta {
    margin: 0 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    background-color: #fff;
}

.post-meta li {
    display: inline-block;
    font-size: 16px;
    margin: 8px 0;
    padding: 0 20px;
    position: relative;
    line-height: 1;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.blog-1 .post-img {
    overflow: hidden;
    margin-bottom: -20px;
    position: relative;
}
.post-img {
    overflow: hidden;
}

.post-img img {
    width: 100%;
    transition: all 0.9s ease;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}
.blog-item:hover .post-img img{
    transform: scale(1.1) rotate(-2deg);
    -webkit-transform: scale(1.1) rotate(-2deg);
    -moz-transform: scale(1.1) rotate(-2deg);
    -ms-transform: scale(1.1) rotate(-2deg);
    -o-transform: scale(1.1) rotate(-2deg);
}
.post-meta li::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.post-meta li:last-child::after {
    display: none;
}

.post-meta li i {
    margin-right: 5px;
    color: #232323;
}

.post-meta li a {
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.post-meta li a {
    color: #838383;
}

.post-meta li a:hover {
    color: #ff4a17
}

.blog-2 .post-content {
    border: 1px solid #d7d7d7;
}

.post-content h5 a {
    line-height: 1.4;
    font-size: 17px;
    color: #1f1f1f;
    transition: all 0.3;
}

.post-content h5 a:hover{
    color: #ff4a17;
}

 

.blog-item:hover .date {
    background-color: #ff4a17;
}

.blog-item:hover .date * {
    color: #fff;
}
 

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #ff4a17 !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}
 

.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
  max-height: 400px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  color: #111111;
  transition: 0.3s;
}

.blog .entry .entry-title a:hover {
  color: #ff4a17;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #777777;
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 14px;
  padding-right: 4px;
}

.blog .entry .entry-meta a {
  color: #5e5e5e;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 24px;
}

.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: #ff4a17;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
}

.blog .entry .entry-content .read-more a:hover {
  background: #e65d5f;
}

.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
  color: #444444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog .entry .entry-content blockquote .quote-left {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 36px;
  color: #e7e7e7;
}

.blog .entry .entry-content blockquote .quote-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 36px;
  color: #e7e7e7;
}

.blog .entry .entry-content blockquote::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #111111;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
  color: #5e5e5e;
  display: inline;
}

.blog .entry .entry-footer a {
  color: #8b8b8b;
  transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
  color: #ff4a17;
}

.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog .entry .entry-footer .cats li {
  display: inline-block;
}

.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog .entry .entry-footer .tags li {
  display: inline-block;
}

.blog .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}

.blog .entry .entry-footer .share {
  font-size: 16px;
}

.blog .entry .entry-footer .share i {
  padding-left: 5px;
}

.blog .entry-single {
  margin-bottom: 30px;
}

.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
  width: 120px;
}

.blog .blog-author h4 {
  margin-left: 140px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
}

.blog .blog-author .social-links {
  margin: 0 0 5px 140px;
}

.blog .blog-author .social-links a {
  color: #777777;
}

.blog .blog-author p {
  margin-left: 140px;
  font-style: italic;
  color: #b7b7b7;
}

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog .blog-comments .comment .comment-img {
  width: 50px;
}

.blog .blog-comments .comment h5 {
  margin-left: 65px;
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #444444;
  transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
  color: #ff4a17;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #111111;
}

.blog .blog-comments .comment time {
  margin-left: 65px;
  display: block;
  font-size: 14px;
  color: #777777;
  margin-bottom: 5px;
}

.blog .blog-comments .comment p {
  margin-left: 65px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 4px;
  padding: 20px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #ee9293;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 4px0;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #ee9293;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
  border-radius: 4px;
  padding: 8px 20px;
  border: 0;
  background-color: #111111;
}

.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #ff4a17;
}

.blog .blog-pagination {
  color: #444444;
}

.blog .blog-pagination ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.blog .blog-pagination li {
  border: 1px solid white;
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li.active {
  background: white;
}

.blog .blog-pagination li a {
  color: #aaaaaa;
  padding: 7px 16px;
  display: inline-block;
}

.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
  background: #ff4a17;
  border: 1px solid #ff4a17;
}

.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .blog-pagination li.disabled {
  background: #fff;
  border: 1px solid white;
}

.blog .blog-pagination li.disabled i {
  color: #f1f1f1;
  padding: 10px 16px;
  display: inline-block;
}

.blog .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #111111;
  position: relative;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}

.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}

.blog .sidebar .search-form form input[type="text"] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: #ff4a17;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

.blog .sidebar .search-form form button:hover {
  background: #2b2b2b;
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: #515151;
}

.blog .sidebar .categories ul a:hover {
  color: #ff4a17;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #777777;
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  color: black;
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #ff4a17;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #777777;
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: #515151;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #c4c4c4;
  display: inline-block;
  transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #111111;
  background: #111111;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}


/*Responsive css*/

@media screen and (max-width: 1024px){
  .navbar-nav .nav-item a{
    font-size: 15px;
  }
  .carousel-caption p {
    font-size: 35px;
  }
}

@media screen and (max-width: 992px){
  .carousel-control-prev-icon {
    left: 20px;
    font-size: 35px;
}
.carousel-control-next-icon {
    right: 20px;
    font-size: 35px;
  }
}

@media screen and (max-width: 768px){
  
  .carousel-caption p {
    font-size: 25px;
  }
  .navbar-toggler {
    right: 0px;
}
  .carousel-caption a {
    font-size: 13px;
    padding: 12px 20px;
  }
  .carousel-control-prev-icon {
    left: 20px;
    font-size: 35px;
}
.carousel-control-next-icon {
    right: 20px;
    font-size: 35px;
  }
}

@media screen and (max-width: 550px){
  .carousel-caption p {
    font-size: 20px;
  }
  .navbar-toggler {
    right: 60px;
}
  .carousel-control-prev-icon, .carousel-control-next-icon {
    display: none !important;
  }
}

